<div class="example-header">
    <!-- <mat-card>Ingrese los datos del paciente</mat-card> -->
    <form class="example-container" [formGroup]="form" #frmProducto="ngForm" (ngSubmit)="operar()">
        <br>
        <div [hidden]="true">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="ID" required formControlName="id">
            </mat-form-field>
        </div>

        <mat-form-field>
            <input matInput placeholder="Nombres" minlength="2" required formControlName="nombre">
        </mat-form-field>
        <mat-form-field>
            <!-- class="example-full-width" -->
            <input matInput placeholder="Marca" required formControlName="marca">
        </mat-form-field>



        <button mat-raised-button color="primary" type="submit" [disabled]="frmProducto.invalid">
            <mat-icon>done</mat-icon>
            <span>Aceptar</span>
        </button>
        <button mat-raised-button color="accent" routerLink="/producto">Cancelar</button>
    </form>
</div>