<div class="example-header">
<mat-form-field>
    <input matInput (keyup)="filtrar($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="idPersona" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> IdPersona </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idPersona}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombres">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombres}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="apellidos">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.apellidos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="openDialog(element)"><mat-icon>ballot</mat-icon></button>
            <button mat-button color="accent" (click)="eliminar(element)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<button mat-fab color="accent" style="float: right" (click)="openDialog()">
    <mat-icon>create</mat-icon>
  </button>
</div>