<mat-card>Producto</mat-card>
<router-outlet></router-outlet>
<div class="example-header" [hidden]="route.children.length !== 0">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <mat-table [dataSource]="dataSource" matSort>
    
        <!-- Position Column -->
        <ng-container matColumnDef="idProducto" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> IdProducto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.idProducto}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Producto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="marca">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Marca </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.marca}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button color="primary" [routerLink]="['edicion', element.idProducto]" ><mat-icon>ballot</mat-icon></button>
                <button mat-button color="accent" (click)="eliminar(element)"><mat-icon>delete</mat-icon></button>
            </mat-cell>
        </ng-container>
    
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    
    <button mat-fab color="accent" style="float: right; margin-right: 20px;" routerLink="/producto/nuevo"  >
        <mat-icon>create</mat-icon>
      </button>
    </div>