<mat-toolbar>Registro de Ventas</mat-toolbar>

<div class="example-container">
    <mat-form-field>
        <mat-select placeholder="Persona" [(value)]="PacienteSeleccionado">
            <mat-option *ngFor="let p of personas" [value]="p">
                {{p.nombres}} {{p.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha"
            [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Importe" [(ngModel)]="importe">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-select placeholder="Productos" [(value)]="objProducto">
            <mat-option *ngFor="let p of productos" [value]="p">
                {{p.nombre}} {{p.marca}}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-form-field>
        <input matInput placeholder="Cantidad" [(ngModel)]="cantidad">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="agregar()">Agregar Detalle</button>

    <mat-expansion-panel *ngFor="let d of detalleVenta_; let i=index">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{d.producto.nombre}} {{d.producto.marca}}
            </mat-panel-title>
            <mat-panel-description>
                Ver cantidad
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <textarea matInput placeholder="Tratamiento" value="{{d.cantidad}}"></textarea>
        </mat-form-field>

        <button mat-raised-button color="warn" (click)="remover(i)">Remover</button>

    </mat-expansion-panel>

    <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="estadoBotonRegistrar()">Registrar</button>
</div>